@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Bellerose";
}
html {
  scroll-behavior: smooth;
}

.clip-path {
  clip-path: polygon(0 0, 100% 7%, 100% 100%, 0% 100%);
}

@font-face {
  font-family: "Bellerose";
  src: url("Bellerose.woff2") format("woff2");
}