@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --light-green: #A9FDAC;
  --dark-green: #041F1E;
  --gray: #67697C;
  --blue: #D6EFFF;
  --pink: #EF798A;
}

.custom-shadow-right {
  box-shadow:  37px 37px 74px #bebebe,
             
}

.custom-shadow-left {
  box-shadow:  -7px 7px 14px #bebebe,    
}

.view-box {
  opacity: 100%;
  pointer-events: all;
  transition: opacity 0.25s ease-in-out;
  z-index: 10;
}

.no-view-box {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
  z-index: -10;
}

.no-scrollthumb-left {
  
}