@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #020108;
  color: white;
}

.custom-shadow-right {
  box-shadow:  37px 37px 74px #bebebe,
             
}

.custom-shadow-left {
  box-shadow:  -7px 7px 14px #bebebe,    
}

.view-box {
  opacity: 100%;
  pointer-events: all;
  transition: opacity 0.25s ease-in-out;
  z-index: 10;
}

.no-view-box {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
  z-index: -10;
}

.scrollthumb::-webkit-scrollbar {
  background-color: #02010844;
  width: 7px;

}

.scrollthumb::-webkit-scrollbar-thumb {
  background-color: #242038;
  border-radius: 10px;
  
}