@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #020108;
  color: white;
  
  width:100dvw;
  height:100dvh;
  overflow: hidden;
}

.custom-shadow-right {
  box-shadow:  37px 37px 74px #bebebe,
             
}

.custom-shadow-left {
  box-shadow:  -7px 7px 14px #bebebe,    
}

.view-box {
  opacity: 100%;
  pointer-events: all;
  transition: opacity 0.25s ease-in-out;
  z-index: 10;
}

.no-view-box {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
  z-index: -10;
}

.scrollthumb::-webkit-scrollbar {
  background-color: #02010844;
  width: 7px;
  height: 7px;
}

.scrollthumb::-webkit-scrollbar-thumb {
  background-color: #242038;
  border-radius: 10px;
  
}

html::-webkit-scrollbar {
  background-color: #02010844;
  width: 7px;
  height: 7px;
}

html::-webkit-scrollbar-thumb {
  background-color: #242038;
  border-radius: 10px;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.clippath{
  clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);
}

.fast-spinner {
  animation: fast-spin 0.35s linear infinite;
}

@keyframes fast-spin {
  to {
      transform: rotate(360deg);
  }
}


.task-content {
  pointer-events: none;
  opacity: 0;
}

.task-icon {
  transform: rotate(0deg);
  color: rgb(156 163 175 / var(--tw-text-opacity));
  transition: transform .5s ease-in-out;
}

.task:hover .task-icon {
  transform: rotate(360deg);
}

.task:hover .task-content {
  transition: opacity .15s .05s ease-in-out;
  pointer-events: all;
  opacity: 100;
}


.ripple-btn{
  overflow: hidden;
  z-index: 0;
  border:none;
}

.ripple-btn + .ripple-btn-reason {
  display: none;
}

.ripple-btn:hover + .ripple-btn-reason {
  display: block;
}

.ripple{
  display: block;
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: 0px;
  height: 0px;
  background-color: #21A0AB;
  transform: translate(-50%,-50%);
  pointer-events: none;
  border-radius: 50%;
  animation: ripple .75s linear infinite;
  z-index: -10;

}

@keyframes ripple {
  0%{
      height: 0px;
      width: 0px;
      opacity: .6;
  }
  100%{
      height: 10em;
      width: 10em;
      opacity: 0;
  }
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #777777;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}