@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #020108;
  color: white;
  
  width:100dvw;
  height:100dvh;
  overflow: hidden;
}

.custom-shadow-right {
  box-shadow:  37px 37px 74px #bebebe,
             
}

.custom-shadow-left {
  box-shadow:  -7px 7px 14px #bebebe,    
}

.view-box {
  opacity: 100%;
  pointer-events: all;
  transition: opacity 0.25s ease-in-out;
  z-index: 10;
}

.no-view-box {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
  z-index: -10;
}

.scrollthumb::-webkit-scrollbar {
  background-color: #02010844;
  width: 7px;
  height: 7px;
}

.scrollthumb::-webkit-scrollbar-thumb {
  background-color: #242038;
  border-radius: 10px;
  
}

html::-webkit-scrollbar {
  background-color: #02010844;
  width: 7px;
  height: 7px;
}

html::-webkit-scrollbar-thumb {
  background-color: #242038;
  border-radius: 10px;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.clippath{
  clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);
}

.fast-spinner {
  animation: fast-spin 0.35s linear infinite;
}

@keyframes fast-spin {
  to {
      transform: rotate(360deg);
  }
}


.task-content {
  pointer-events: none;
  opacity: 0;
}

.task:hover .task-content {
  transition: opacity .15s .05s ease-in-out;
  pointer-events: all;
  opacity: 100;
}


.ripple-btn{
  overflow: hidden;
  z-index: 0;
  border:none;
}

.ripple{
  display: block;
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: 0px;
  height: 0px;
  background-color: #21A0AB;
  transform: translate(-50%,-50%);
  pointer-events: none;
  border-radius: 50%;
  animation: ripple .75s linear infinite;
  z-index: -10;

}

@keyframes ripple {
  0%{
      height: 0px;
      width: 0px;
      opacity: .6;
  }
  100%{
      height: 10em;
      width: 10em;
      opacity: 0;
  }
}